
/* Сам параллакс */
.parallax {
	height: 100vh;
	overflow-x: hidden;
	-webkit-perspective: 300px;
	perspective: 300px;
	background-color: #000000;
}
.parallax__group {
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.parallax__layer--back {
	z-index: 1;
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	height: 50vh;
	background: rgba(255,0,0,0.0);
	margin-top: -30vh;
	overflow: hidden;
	text-align: right;
}
.parallax__layer--base {
	z-index: 2;
	height: 100vh;
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
	background-color: #000000;
	box-shadow: 0px 0px 100px 0px #000000;
	margin-top: 30vh;
	text-align: center;
	vertical-align: middle;
	display: table;
	width: 100%;
}
.parallax__layer--front {
	z-index: 3;
	-webkit-transform: translateZ(200px) scale(.33333);
	transform: translateZ(200px) scale(.33333);
	height: 100vh;
	background: rgba(0,0,255,0.0);
	margin-top: -40vh;
}

/* Цветные листы */
.layer {
	background-color: #056905;
	width: 100%;
	height: 150%;
	position: absolute;
	left: 0%;
	top: -100%;
	transform-origin: 50% 100%;
	box-shadow: 0px 0px 100px 0px #000;
}
.layer_secondary {
	background-color: #050569;
	display: block;
	z-index: 3;
	width: 80%;
	height: 50%;
	position: absolute;
	left: 20%;
	top: 80%;
	transform-origin: 50% 150%;
	box-shadow: 0px 0px 100px 0px #000;
}

/* Экспериментальная кнопка */
#circle_btn {
	width: 64px;
	height: 64px;
	border-radius: 999px;
	transition: all 0.2s linear;
	border: 1px solid #ffffff;
}
#circle_btn:hover {
	width: 0px;
	height: 0px;
	border-width: 33px;
	border-color: #507398;
}

/* Кнопки вверху */
#top_buttons_box {
	bottom: 0vh;
	left: 0vh;
	display: inline-block;
	position: absolute;
}
.top_button {
	width: 64px;
	height: 64px;
	padding: 4px;
	margin: 16px;
	display: inline-block;
	border-radius: 999px;
	box-shadow: inset 0px 0px 0px 0px #000000;
	/*background-color: #056905; /* 0F0F73 056905 */
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.3);
}
.top_button:hover {
	/*width: 60px;
	height: 60px;
	padding: 6px;*/
	/*cursor: pointer;*/
	/*box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.5);*/
	box-shadow: inset 0px 4px 10px 0px #000000;
}

/* Содержимое */
#box {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

/* Имя и ава */
#head_title {
	width: 360px;
	padding-left: 16px;
	text-align: right;
	vertical-align: top;
	margin-left: -400px;
	margin-top: 64px;
	margin-right: 16px;
}
#head_title #name {
	font-size: 28pt;
	vertical-align: middle;
}
#head_title #dignity {
	font-size: 18pt;
	vertical-align: middle;
}
#desktop #ava {
	width: 192px;
	height: 192px;
	border-radius: 999px;
	margin: 16px;
}

/* Навыки */
.icon_big {
	width: 96px;
	height: 96px;
	margin: 12px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	filter: grayscale(100%);
}
.icon_big:hover {
	filter: grayscale(0%) drop-shadow(0px 0px 8px rgba(255,255,255,0.7));
}

/* Круглые ссылки и слайдер */
.icon_link {
	width: 36px;
	height: 36px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	margin: 0px 16px 0px 16px;
	border-radius: 999px;
	border: 1px solid #ffffff;
	padding: 18px;
}
.icon_link:hover {
	cursor: pointer;
}
#lin:hover {
	border-color: #1c5d83;
}
#hh:hover {
	border-color: #ff0000;
}
#git:hover {
	border-color: #705040;
}
#play:hover {
	border-color: #689f38;
}
#twitter:hover {
	border-color: #00aeed;
}
#vk:hover {
	border-color: #507398;
}
#telegram:hover {
	border-color: #1e96c8;
}
#discord:hover {
	border-color: #8a9cfe;
}
#email:hover {
	border-color: #ffdb4d;
}
#slider {
	width: 0px;
}
#nick {
	width: 512px;
	opacity: 0;
	text-align: center;
}

/* Прочее */
#bug {
	background-color: #000000;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 4vh;
	z-index: 9;
}
