
@font-face {
	font-family: Exo_2_Thin;
	src: url(../Exo_2_Thin.ttf);
}
body, html {
	user-select: none;
	font-size: 24px;
	font-family: Exo_2_Thin, Arial;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	overflow-x: hidden;
	color: #ffffff;
}
::-webkit-scrollbar { 
	display: none;
}

@keyframes show {
	from {
	  opacity: 0;
	}
	50% {
	  opacity: .5;
	}
	to {
	  opacity: 1;
	}
}
@keyframes hide {
	from {
	  opacity: 1;
	}
	50% {
	  opacity: .5;
	}
	to {
	  opacity: 0;
	}
}

#desktop, #mobile {
	visibility: hide;
}

.inline {
	display: inline-block;
}
.unhoverable {
	cursor: default;
}

#meter {
	height: 8cm;
	position: absolute;
	opacity: 0;
}
