
#mobile {
	width: 100%;
	height: 100%;
}

/* Имя и ава */
#mobile #name {
	font-size: 24pt;
}
#mobile #dignity {
	font-size: 16pt;
}
#mobile #ava {
	border-radius: 999px;
	padding-top: 3%;
}

#mobile .icon_link {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	margin: 3%;
	border-radius: 999px;
	border: 0px;
	padding: 4%;
}
#mobile #lin {
	background-color: #1c5d83;
}
#mobile #hh {
	background-color: #ff0000;
}
#mobile #git {
	background-color: #705040;
}
#mobile #play {
	background-color: #689f38;
}
#mobile #twitter {
	background-color: #00aeed;
}
#mobile #vk {
	background-color: #507398;
}
#mobile #telegram {	
	background-color: #1e96c8;
}
#mobile #skype {
	background-color: #1ba6df;
}
#mobile #email {
	background-color: #ffdb4d;
}

#port {
	height: 100%;
}
#mobile, #port {
	vertical-align: top;
	text-align: center;
}